
@model List<ComputerAccessoriesV2.ViewModels.ProductGridModel>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<div class="row">
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">shop left sidebar</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb area end -->
<!-- page wrapper start -->
<div class="page-main-wrapper">
<div class="container">
<div class="row">
<!-- sidebar start -->
<div class="col-lg-3 order-2 order-lg-1">
    <div class="shop-sidebar-wrap mt-md-28 mt-sm-28">
        <!-- sidebar categorie start -->
        <div class="sidebar-widget mb-30">
            <div class="sidebar-category">
                <partial name="GetCategories" model="@ViewBag.category" />
            </div>
        </div>
        <!-- sidebar categorie start -->
        <!-- manufacturer start -->
        <div class="sidebar-widget mb-30">
            <div class="sidebar-title mb-10">
                <h3>Manufacturers</h3>
            </div>
            <div class="sidebar-widget-body">
                <ul>
                    <li><i class="fa fa-angle-right"></i><a href="#">calvin klein</a><span>(10)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">diesel</a><span>(12)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">polo</a><span>(20)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Tommy Hilfiger</a><span>(12)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">Versace</a><span>(16)</span></li>
                </ul>
            </div>
        </div>
        <!-- manufacturer end -->
        <!-- pricing filter start -->
        <div class="sidebar-widget mb-30">
            <div class="sidebar-title mb-10">
                <h3>filter by price</h3>
            </div>
            <div class="sidebar-widget-body">
                <div class="price-range-wrap">
                    <div class="price-range" data-min="50" data-max="400"></div>
                    <div class="range-slider">
                        <form action="#" class="d-flex justify-content-between">
                            <button class="filter-btn">filter</button>
                            <div class="price-input d-flex align-items-center">
                                <label for="amount">Price: </label>
                                <input type="text" id="amount">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing filter end -->
        <!-- product size start -->
        <div class="sidebar-widget mb-30">
            <div class="sidebar-title mb-10">
                <h3>size</h3>
            </div>
            <div class="sidebar-widget-body">
                <ul>
                    <li><i class="fa fa-angle-right"></i><a href="#">s</a><span>(10)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">m</a><span>(12)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">l</a><span>(20)</span></li>
                    <li><i class="fa fa-angle-right"></i><a href="#">XL</a><span>(12)</span></li>
                </ul>
            </div>
        </div>
        <!-- product size end -->
        <!-- product tag start -->
        <div class="sidebar-widget mb-30">
            <div class="sidebar-title mb-10">
                <h3>tags</h3>
            </div>
            <div class="sidebar-widget-body">
                <div class="product-tag">
                    <a href="#">camera</a>
                    <a href="#">computer</a>
                    <a href="#">tablet</a>
                    <a href="#">watch</a>
                    <a href="#">smart phones</a>
                    <a href="#">handbag</a>
                    <a href="#">shoe</a>
                    <a href="#">men</a>
                </div>
            </div>
        </div>
        <!-- product tag end -->
        <!-- sidebar banner start -->
        <div class="sidebar-widget mb-30">
            <div class="img-container fix img-full">
                <a href="#"><img src="assets/img/banner/banner_shop.jpg" alt=""></a>
            </div>
        </div>
        <!-- sidebar banner end -->
    </div>
</div>
<!-- sidebar end -->
<!-- product main wrap start -->
<div class="col-lg-9 order-1 order-lg-2">
    <div class="shop-banner img-full">
        <img src="assets/img/banner/banner_static1.jpg" alt="">
    </div>
    <!-- product view wrapper area start -->
    <div class="shop-product-wrapper pt-34">
        <!-- shop product top wrap start -->
        <div class="shop-top-bar">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="top-bar-left">
                        <div class="product-view-mode mr-70 mr-sm-0">
                            <a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
                            <a href="#" data-target="list"><i class="fa fa-list"></i></a>
                        </div>
                        <div class="product-amount">
                            <p>Showing 1–16 of 21 results</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="top-bar-right">
                        <div class="product-short">
                            <p>Sort By : </p>
                            <select class="nice-select" name="sortby">
                                <option value="trending">Relevance</option>
                                <option value="sales">Name (A - Z)</option>
                                <option value="sales">Name (Z - A)</option>
                                <option value="rating">Price (Low &gt; High)</option>
                                <option value="date">Rating (Lowest)</option>
                                <option value="price-asc">Model (A - Z)</option>
                                <option value="price-asc">Model (Z - A)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop product top wrap start -->
        <!-- product item start -->
        <div class="shop-product-wrap grid row">

            <!-- product single grid item start -->
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product-item fix mb-30">
                        <div class="product-thumb">
                            <a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">
                                <img src="@item.Thumnail" class="img-pri" alt="">
                                <img src="@item.Thumnail2" class="img-sec" alt="">
                            </a>
                            <div class="product-label">
                                <span>hot</span>
                            </div>
                            <div class="product-action-link">
                                <a href="#" onclick="return QuickView
    (@item.Id)"> <span data-toggle="tooltip" data-placement="left" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="left" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a href="product-details.html">@item.ProductName</a></h4>
                            <div class="pricebox">
                                <span class="regular-price">@item.OriginalPrice</span>
                                <div class="ratings">
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <div class="pro-review">
                                        <span>1 review(s)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-list-item mb-30">
                        <div class="product-thumb">
                            <a href="product-details.html">
                                <img src="@item.Thumnail" class="img-pri" alt="">
                                <img src="@item.Thumnail2" class="img-sec" alt="">
                            </a>
                            <div class="product-label">
                                <span>hot</span>
                            </div>
                        </div>
                        <div class="product-list-content">
                            <h3><a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">@item.ProductName</a></h3>
                            <div class="ratings">
                                <span class="good"><i class="fa fa-star"></i></span>
                                <span class="good"><i class="fa fa-star"></i></span>
                                <span class="good"><i class="fa fa-star"></i></span>
                                <span class="good"><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <div class="pro-review">
                                    <span>1 review(s)</span>
                                </div>
                            </div>
                            <div class="pricebox">
                                <span class="regular-price">@item.OriginalPrice</span>
                                <span class="old-price"><del>$90.00</del></span>
                            </div>
                            <p>@item.ShorDescription</p>
                            <div class="product-list-action-link">
                                <a class="buy-btn" href="#" data-toggle="tooltip" data-placement="top" title="Add to cart">go to buy <i class="fa fa-shopping-cart"></i> </a>
                                <a href="#" onclick="return QuickView(@item.Id)"> <span data-toggle="tooltip" data-placement="top" title="Quick view"><i class="fa fa-search"></i></span> </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="fa fa-heart-o"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- product item end -->
    </div>
    <!-- product view wrapper area end -->
    <!-- start pagination area -->
    <div class="paginatoin-area text-center pt-28">
        <div class="row">
            <div class="col-12">
                <ul class="pagination-box">
                    <li><a class="Previous" href="#">Previous</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a class="Next" href="#"> Next </a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end pagination area -->

</div>
<!-- product main wrap end -->
</div>
</div>
</div>
</div>

<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider slick-arrow-style_2 mb-20" id="slider_imgs">

                            </div>
                            <div class="pro-nav slick-padding2 slick-arrow-style_2" id="slider_thumnails">

                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="product-details-des mt-md-34 mt-sm-34">
                                <h3><a href="#" id="product_name" title="Xem chi tiết"></a></h3>
                                <div class="ratings">
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span class="good"><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <div class="pro-review">
                                        <span>1 review(s)</span>
                                    </div>
                                </div>
                                <div class="availability mt-10">
                                    <h5>Còn lại:</h5>
                                    <span id="quantity"></span>
                                </div>
                                <div class="pricebox">
                                    <span class="regular-price" id="price">$160.00</span>
                                </div>
                                <p id="short_description">

                                </p>
                                <div class="quantity-cart-box d-flex align-items-center mt-20">
                                    <div class="quantity">
                                        <div class="pro-qty"><input type="text" value="1" id="productQuantity"></div>
                                    </div>
                                    <div class="action_link">
                                        <input hidden id="productId" type="text" />
                                        <a class="buy-btn" href="#" id="btnAddToCart">
                                            add to cart<i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //$(document).ready(function() {
        //    $.get("/Shopping/GetCategories",
        //        function(data) {
        //            $('#categoryList').append(data);
        //        });
        //});

        var helper = window.HelperSDK.Helpers;
        var html = "";
        function QuickView(id) {
            var slider_imgs = $('#slider_imgs');
            //slider_imgs.slick('unslick');

            var slider_thumnails = $('#slider_thumnails');

            RemoveAllSlick(slider_imgs);
            RemoveAllSlick(slider_thumnails)

            //slider_thumnails.slick('unslick');
            debugger;
            $.ajax({
                url: "/Home/QuickView?id=" + id,
                type: "get",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.productImages.length; i++) {

                        //slider_large += "<div class='pro-large-img'><img src='" + data.productImages[i].imageUrl + "' alt='' /></div>";

                        slider_imgs.slick('slickAdd', "<div class='pro-large-img'><img src='" + data.productImages[i].imageUrl + "' alt='' /></div>");
                        slider_thumnails.slick('slickAdd', "<div class='pro-nav-thumb'><img src='" + data.productImages[i].imageUrl + "'alt='' /></div>");

                    }

                    $('#quantity').text(data.quantity);
                    $('#short_description').text(data.shorDescription);
                    $('#price').text(data.originalPrice);
                    $('#product_name').text(data.productName);
                    $('#product_name').attr('href', "/Customer/ProductHome/ProductDetails?productId=" + data.id);
                    $('#productId').attr('value', data.id);
                    //slider_imgs.append(slider_large);
                    //slider_thumnails.append(slider_small);
                    $('#quick_view').modal('show');
                }
            });



        }
        var sl;
        function RemoveAllSlick(selector) {
            debugger;
            sl = selector;
            console.log(sl);
            var totalSlides = selector.slick('getSlick').slideCount;

            while (totalSlides !== 0) {
                selector.slick('slickRemove', totalSlides - 1);
                totalSlides--;
            }
            return true;
        }

        

        $('#btnAddToCart').click(function () {
            var productId = $('#productId').val();
            var quantity = $('#productQuantity').val();

            AddToCart(productId, quantity);

        });
    </script>
}