@model ComputerAccessoriesV2.ViewModels.ProductHomeViewModel
@using ComputerAccessoriesV2.ViewModels
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
    ProductGridModel product = ViewBag.products;
    var newArrival = ViewBag.newArrival as List<ProductGridModel>;
}


@Html.Partial("~/Views/Home/_SliderImageAdvertisingPartial.cshtml")
<div class="row">

    <div class="col-lg-3" id="hot_deals">
        <div class="home-sidebar">

            <div class="main-sidebar hot-deals-wrap mb-30">
                <div class="section-title-2 d-flex justify-content-between mb-28">
                    <h3>hot deals</h3>
                    <div class="slick-append"></div>
                </div> <!-- section title end -->
                <div class="deals-carousel-active slick-padding slick-arrow-style">
                    @foreach (var item in Model.ListHotDealProducts)
                    {
                        <div class="product-item fix">
                            <div class="product-thumb">
                                <a asp-controller="ProductHome" asp-action="ProductDetails" asp-route-productId="@item.Id">
                                    <img src="@item.Thumnail" class="img-pri" alt="">
                                    <img src="@item.Thumnail2" class="img-sec" alt="">
                                </a>
                                <div class="product-label">
                                    <span>-@item.SaleValue%</span>
                                </div>
                                <div class="product-action-link">
                                    <a href="javascript:void(0)" onclick="return QuickView(@item.Id)" title="Xem chi tiết">
                                        <span data-toggle="tooltip"
                                              data-placement="left" title="Xem chi tiết"><i class="fa fa-search"></i></span>
                                    </a>

                                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" onclick="AddToCart(@item.Id,1)" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a asp-controller="ProductHome" asp-action="ProductDetails" asp-route-productId="@item.Id">@item.ProductName</a></h4>
                                <div class="pricebox">
                                    @if (String.IsNullOrEmpty(item.PromotionPrice))
                                    {
                                        <div class="regular-price">
                                            @item.OriginalPrice
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <span class="regular-price">@item.PromotionPrice</span>
                                            <span class="old-price"><del style="font-size:12px; color:red">@item.OriginalPrice</del></span>
                                        </div>
                                    }
                                <div class="ratings">
                                    @for (int i = 0; i < item.ReviewStarPoint; i++)
                                    {
                                        <span class="good"><i class="fa fa-star"></i></span>
                                    }
                                    <div class="pro-review">
                                        <span>@item.ReviewCount lượt đánh giá</span>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- product single item start -->
                    <!-- product single item end -->
                    <!-- product single item end -->
                </div>
            </div>
            <div class="main-sidebar category-wrapper mb-24">
                <div class="section-title-2 d-flex justify-content-between mb-28">
                    <h3>hot deal</h3>
                    <div class="category-append"></div>
                </div> <!-- section title end -->
                <div class="category-carousel-active row" data-row="4">
                    @foreach (var item in Model.ListHotDealProducts)
                    {
                        <div class="col">
                            <div class="category-item">
                                <div class="category-thumb">
                                    <a asp-action="ProductDetails" asp-controller="ProductHome" asp-route-productId="@item.Id">
                                        <img src="@item.Thumnail" alt="">
                                    </a>
                                </div>
                                <div class="category-content">
                                    <h4><a asp-action="ProductDetails" asp-controller="ProductHome" asp-route-productId="@item.Id">@item.ProductName</a></h4>
                                    <div class="price-box">
                                        @if (String.IsNullOrEmpty(item.PromotionPrice))
                                        {
                                            <div class="regular-price">
                                                đ @item.OriginalPrice
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="regular-price">
                                                đ @item.PromotionPrice
                                            </div>
                                            <div class="old-price">
                                                <del style="font-size:12px">đ @item.OriginalPrice</del>
                                            </div>
                                        }

                                    </div>
                                    <div class="ratings">
                                        @for (int i = 0; i < item.ReviewStarPoint; i++)
                                        {
                                            <span class="good"><i class="fa fa-star"></i></span>

                                        }
                                        <div class="pro-review">
                                            <span>@item.ReviewCount lượt đánh giá</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end single item -->
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="category-feature-area">
            <div class="row">
                <!-- New Products area start -->
                <div class="col-lg-6">
                    <div class="category-wrapper mb-md-24 mb-sm-24">
                        <div class="section-title-2 d-flex justify-content-between mb-28">
                            <h3>Sản phẩm mới</h3>
                            <div class="category-append"></div>
                        </div> <!-- section title end -->
                        <div class="category-carousel-active row" data-row="3">
                            @if (Model.ListNewProducts.Count > 0)
                            {
                                @foreach (var item in Model.ListNewProducts)
                                {
                                    <div class="col">
                                        <div class="category-item">
                                            <div class="category-thumb">
                                                <a asp-controller="ProductHome" asp-action="ProductDetails" asp-route-productId="@item.Id">
                                                    <img src="@item.Thumnail" alt="">
                                                </a>
                                            </div>
                                            <div class="category-content">
                                                <h4><a asp-controller="ProductHome" asp-action="ProductDetails" asp-route-productId="@item.Id">@item.ProductName</a></h4>
                                                <div class="price-box">
                                                    @if (String.IsNullOrEmpty(item.PromotionPrice))
                                                    {
                                                        <div class="regular-price">
                                                           đ @item.OriginalPrice
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="regular-price">
                                                           đ @item.PromotionPrice
                                                        </div>
                                                        <div class="old-price">
                                                            <del style="font-size:12px">đ @item.OriginalPrice</del>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="ratings">
                                                    @for (int i = 0; i < item.ReviewStarPoint; i++)
                                                    {
                                                        <span class="good"><i class="fa fa-star"></i></span>

                                                    }
                                                    <div class="pro-review">
                                                        <span>@item.ReviewCount lượt đánh giá</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end single item -->
                                    </div>
                                }
                            }

                            <!-- end single item column -->

                        </div>
                    </div>
                </div>
                <!-- New Products area end -->
                <div class="col-lg-6">
                    <div class="category-wrapper mb-md-24 mb-sm-24">
                        <div class="section-title-2 d-flex justify-content-between mb-28">
                            <h3>Xem nhiều</h3>
                            <div class="category-append"></div>
                        </div> <!-- section title end -->
                        <div class="category-carousel-active row" data-row="3">
                            @if (Model.ListMostViewsProducts.Count > 0)
                            {
                                @foreach (var item in Model.ListMostViewsProducts)
                                {
                                    <div class="col">
                                        <div class="category-item">
                                            <div class="category-thumb">
                                                <a asp-controller="ProductHome" asp-action="ProductDetails" asp-route-productId="@item.Id">
                                                    <img src="@item.Thumnail" alt="">
                                                </a>
                                            </div>
                                            <div class="category-content">
                                                <h4><a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">@item.ProductName</a></h4>
                                                <div class="price-box">
                                                    @if (String.IsNullOrEmpty(item.PromotionPrice))
                                                    {
                                                        <div class="regular-price">
                                                           đ @item.OriginalPrice
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="regular-price">
                                                            đ @item.PromotionPrice
                                                        </div>
                                                        <div class="old-price">
                                                            <del style="font-size:12px">đ @item.OriginalPrice</del>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="ratings">
                                                    @for (int i = 0; i < item.ReviewStarPoint; i++)
                                                    {
                                                        <span class="good"><i class="fa fa-star"></i></span>
                                                        
                                                    }
                                                    <div class="pro-review">
                                                        <span>@item.ReviewCount lượt đánh giá</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end single item -->
                                    </div>
                                }
                            }

                            <!-- end single item column -->

                        </div>
                    </div>
                </div>
                <!-- Most viewed area start -->
                <div class="banner-statistic pt-28 pb-36">
                    <div class="img-container fix img-full">
                        <a href="javascript:void(0)">
                            <img src="~/assets/img/banner/banner_static1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- Most viewed area end -->
            </div>
        </div>
        @if (newArrival.Count > 0)
        {
            <div class="feature-category-area">
                <div class="section-title mb-30">
                    <div class="title-icon">
                        <i class="fa fa-flask"></i>
                    </div>
                    <h3>Mới cập nhật</h3>
                </div> <!-- section title end -->
                <!-- featured category start -->
                <div class="featured-carousel-active slick-padding slick-arrow-style">
                    @foreach (var item in newArrival)
                    {
                    <div class="product-item fix">
                        <div class="product-thumb">
                            <a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">
                                <img src="@item.Thumnail" class="img-pri" alt="">
                                <img src="@item.Thumnail2" class="img-sec" alt="">
                            </a>
                            <div class="product-label">
                                <span>hot</span>
                            </div>
                            <div class="product-action-link">
                                @*<a href="#" data-toggle="modal" data-target="#quick_view">
                    <span data-toggle="tooltip"
                          data-placement="left" title="Quick view"><i class="fa fa-search"></i></span>
                </a>*@
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#quick_view" onclick="return QuickView(@item.Id)" title="Xem chi tiết">
                                    <span data-toggle="tooltip"
                                          data-placement="left" title="Xem chi tiết"><i class="fa fa-search"></i></span>
                                </a>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" onclick="AddToCart(@item.Id,1)" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">@item.ProductName</a></h4>
                            <text><a asp-action="ProductListFilter" asp-controller="Shopping" asp-route-categoryId="@item.CategoryId" style="color:black">@item.BrandName</a></text>
                            |
                            <text><a asp-action="ProductListFilter" asp-controller="Shopping" asp-route-brandId="@item.BrandId" style="color:black">@item.CategoryName</a></text>
                            <div class="pricebox">
                                @*<span class="regular-price">@item.OriginalPrice VND</span>*@
                                @if (String.IsNullOrEmpty(item.PromotionPrice))
                                {
                                    <div class="regular-price">
                                       đ @item.OriginalPrice
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <span class="regular-price">đ @item.PromotionPrice</span>
                                        <span class="old-price"><del style="font-size:12px">đ @item.OriginalPrice</del></span>
                                    </div>
                                }
                            <div class="ratings">
                                @for (int i = 1; i <= item.ReviewStarPoint; i++)
                                {
                                    <span class="good"><i class="fa fa-star"></i></span>
                                }
                                <div class="pro-review">
                                    <span>@item.ReviewCount lượt đánh giá</span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    }
                    
                    <!-- product single item end -->
                </div>
                <!-- featured category end -->
            </div>
        }


    </div>
</div>



<div class="latest-product">
    <div class="container">
        <div class="section-title mb-30">
            <div class="title-icon">
                <i class="fa fa-flash"></i>
            </div>
            <h3>latest product</h3>
        </div> <!-- section title end -->
        <!-- featured category start -->
        <div class="latest-product-active slick-padding slick-arrow-style">
            <!-- product single item start -->
            @foreach (var item in Model.ListNewProducts)
            {
                <div class="product-item fix">
                    <div class="product-thumb">
                        <a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">
                            <img src="@item.Thumnail" class="img-pri" alt="">
                            <img src="@item.Thumnail2" class="img-sec" alt="">
                        </a>
                        <div class="product-label">
                            <span>hot</span>
                        </div>
                        <div class="product-action-link">
                            @*<a href="#" data-toggle="modal" data-target="#quick_view">
                                    <span data-toggle="tooltip"
                                          data-placement="left" title="Quick view"><i class="fa fa-search"></i></span>
                                </a>*@
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#quick_view" onclick="return QuickView(@item.Id)" title="Xem chi tiết">
                                <span data-toggle="tooltip"
                                      data-placement="left" title="Xem chi tiết"><i class="fa fa-search"></i></span>
                            </a>

                            <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" onclick="AddToCart(@item.Id,1)" title="Add to cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h4><a asp-action="ProductDetails" asp-controller="ProductHome" asp-area="Customer" asp-route-productId="@item.Id">@item.ProductName</a></h4>
                        <text><a asp-action="ProductListFilter" asp-controller="Shopping" asp-route-categoryId="@item.CategoryId" style="color:black">@item.BrandName</a></text>
                        |
                        <text><a asp-action="ProductListFilter" asp-controller="Shopping" asp-route-brandId="@item.BrandId"  style="color:black">@item.CategoryName</a></text>
                        <div class="pricebox">
                            @*<span class="regular-price">@item.OriginalPrice VND</span>*@
                            @if (String.IsNullOrEmpty(item.PromotionPrice))
                            {
                                <div class="regular-price">
                                   đ @item.OriginalPrice
                                </div>
                            }
                            else
                            {
                                <div>
                                    <span class="regular-price">đ @item.PromotionPrice</span>
                                    <span class="old-price"><del style="font-size:12px">đ @item.OriginalPrice</del></span>
                                </div>
                            }
                        <div class="ratings">
                            @for (int i = 1; i <= item.ReviewStarPoint; i++)
                            {
                                <span class="good"><i class="fa fa-star"></i></span>
 
                            }
                            <div class="pro-review">
                                <span>@item.ReviewCount lượt đánh giá</span>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- featured category end -->
    </div>
</div>


<div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="product-large-slider slick-arrow-style_2 mb-20" id="slider_imgs">

                                </div>
                                <div class="pro-nav slick-padding2 slick-arrow-style_2" id="slider_thumnails">

                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="product-details-des mt-md-34 mt-sm-34">
                                    <h3><a href="javascript:void(0)" id="product_name" title="Xem chi tiết"></a></h3>
                                    <div class="ratings" id="rate">
                                        
                                    </div>
                                    <div class="availability mt-10">
                                        <h5>Còn lại:</h5>
                                        <span id="quantity"></span>
                                    </div>
                                    <div class="pricebox" >
                                        <span class="regular-price" id="price">$16000</span>
                                        <span id="priceholder" class="old-price"></span>
                                    </div>
                                    <p id="short_description">
                                        
                                    </p>
                                    <div class="quantity-cart-box d-flex align-items-center mt-20">
                                        <div class="quantity">
                                            <div class="pro-qty"><input type="text" value="1" id="productQuantity"></div>
                                        </div>
                                        <div class="action_link">
                                            <input hidden id="productId" type="text" />
                                            <a class="buy-btn" href="javascript:void(0)" id="btnAddToCart">
                                                add to cart<i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


@section Scripts{

    <script>
        var helper = window.HelperSDK.Helpers;
        var html = "";
        function QuickView(id) {
            var slider_imgs = $('#slider_imgs');
            //slider_imgs.slick('unslick');

            var slider_thumnails = $('#slider_thumnails');

            RemoveAllSlick(slider_imgs);
            RemoveAllSlick(slider_thumnails);

            //slider_thumnails.slick('unslick');
            $.ajax({
                url: "/Home/QuickView?id=" + id,
                type: "get",
                dataType: "json",
                success: function (data) {

                    for (var i = 0; i < data.productImages.length; i++) {

                        //slider_large += "<div class='pro-large-img'><img src='" + data.productImages[i].imageUrl + "' alt='' /></div>";

                        slider_imgs.slick('slickAdd', "<div class='pro-large-img'><img src='" + data.productImages[i].imageUrl + "' alt='' /></div>");
                        slider_thumnails.slick('slickAdd', "<div class='pro-nav-thumb'><img src='" + data.productImages[i].imageUrl + "'alt='' /></div>");

                    }
                    console.log(data);
                    var rate = $('#rate');
                    for (var i = 1; i <= data.reviewStarPoint; i++) {
                        rate.append("<span class='good'><i class='fa fa-star'></i></span>");

                    }
                    rate.append("<div class='pro-review'><span>" + data.reviewCount + " lượt đánh giá</span></div>");
                    $('#quantity').text(data.quantity);
                    $('#short_description').text(data.shorDescription);
                    if (data.promotionPrice != "") {
                        var html = "<del style='color:red'>đ " + data.originalPrice + "</del>";
                        $('#price').text('đ '+data.promotionPrice);
                        $('#priceholder').html(html);
                    } else {
                        $('#price').text('đ '+data.originalPrice);
                    }                   
                    $('#product_name').text(data.productName);
                    $('#product_name').attr('href', "/Customer/ProductHome/ProductDetails?productId=" + data.id);
                    $('#productId').attr('value', data.id);
                    //slider_imgs.append(slider_large);
                    //slider_thumnails.append(slider_small);
                    $('#quick_view').modal('show');
                }
            });
        }
        var sl;
        function RemoveAllSlick(selector) {
            sl = selector;
            var totalSlides = selector.slick('getSlick').slideCount;

            while (totalSlides !== 0) {
                selector.slick('slickRemove', totalSlides - 1);
                totalSlides--;
            }
            return true;
        }

        

        $('#btnAddToCart').click(function () {
            var productId = $('#productId').val();
            var quantity = $('#productQuantity').val();

            AddToCart(productId, quantity);

        });
    </script>

}

