
@using ComputerAccessoriesV2.Extensions
@model ComputerAccessoriesV2.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<br />

<style>
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {

  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
</style>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Chỉnh sửa sản phẩm</h3>
    </div>

    <form role="form" method="post" asp-action="EditProduct" enctype="multipart/form-data">
        <div class="box-body">
            <input hidden asp-for="Product.Id" />
            <div class="form-group row">

                <div class="col-lg-2">
                    <label asp-for="Product.ProductName">Tên sản phẩm</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control text-uppercase" placeholder="Nhập tên sản phẩm" asp-for="Product.ProductName">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Code">Mã sản phẩm</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control uppercase" placeholder="Nhập mã sản phẩm" maxlength="8" asp-for="Product.Code">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Brand">Thương hiệu</label>
                </div>
                <div class="col-lg-10">

                    <input asp-for="Product.BrandId" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Category">Danh mục sản phẩm</label>
                </div>
                <div class="col-lg-10">

                    <input asp-for="Product.CategoryId" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.PromotionPrice">Giá</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control" type="number" placeholder="Giá sản phẩm" asp-for="Product.OriginalPrice" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.PromotionPrice">Giá khuyến mãi</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control" type="number" placeholder="Giá khuyến mãi" asp-for="Product.PromotionPrice" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Origin">Xuất sứ</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control" placeholder="Xuất sứ" asp-for="Product.Origin" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Color">Màu sắc</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control" placeholder="Màu sắc" asp-for="Product.Color" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Quantity">Số lượng</label>
                </div>
                <div class="col-lg-10">
                    <input class="form-control" type="number" placeholder="Số lượng" asp-for="Product.Quantity" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Thumnail">Hình nền</label>
                </div>
                <div class="col-lg-8">
                    <img src="@Model.Product.Thumnail" width="20%" />
                    <br />
                    <input asp-for="Product.Thumnail" type="file" name="thumnail1" class="form-control" style="width:20%" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label asp-for="Product.Thumnail2">Hình nền2</label>
                </div>
                <div class="col-lg-8">
                    <img src="@Model.Product.Thumnail2" width="20%" />
                    <br />
                    <input asp-for="Product.Thumnail2" type="file" name="thumnail2" class="form-control" style="width:20%" />
                </div>
            </div>


            <div class="form-group row">
                <div class="col-lg-2">
                    <label>Mô tả ngắn</label>
                </div>
                <div class="col-lg-10">
                    <textarea class="form-control" asp-for="Product.ShorDescription" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label>Mô tả đầy đủ</label>
                </div>
                <div class="col-lg-10">
                    <textarea class="form-control" asp-for="Product.FullDescription" rows="3"></textarea>
                </div>
            </div>
        </div>



        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Lưu lại</button>
            <a asp-action="ProductManagement" asp-controller="Product" class="btn btn-warning"><span><i class="fa fa-arrow-left"></i></span> Quay lại</a>
        </div>
    </form>
</div>
<br />

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
    Xem danh sách hình ảnh
</button>
<br />
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Danh sách hình ảnh</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in Model.ProductImages)
                    {
                        
                        <div class="col-lg-4" id="@item.Id">
                            <div class="container">
                                <input hidden id="imageId_@item.Id" value="@item.Id" />
                                <img src="@item.ImageUrl" alt="@item.ImageUrl" class="image" style="width:100%">
                                <div class="middle">
                                    <div class="text"><button style="background:transparent;border:none" onclick="removeImg(@item.Id)"><span><i class="fa fa-remove" title="Xóa" style="font-size:25px; font-weight:100"></i></span></button></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label style="margin-top:5px;">Upload ảnh</label>
                    </div>
                    
                    <form method="post" id="imgForm" asp-action="UploadMoreImages" asp-controller="Product" asp-route-prodId="@Model.Product.Id"  enctype="multipart/form-data">
                        <div class="col-lg-6">
                            <input type="file" name="importImages" id="importImages" class="form-control" multiple />
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveEditImages">Lưu</button>
            </div>
        </div>

    </div>

</div>



@section Scripts{
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="~/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
    
    <script>

        //tinymce.init({
        //    selector: "textarea",  // change this value according to your HTML
        //    plugins: "code",
        //    toolbar: "code",
        //    menubar: "tools"
        //});

        //tinymce.init({
        //    selector: '#Product_FullDescription',
        //    menubar: "tools",
        //    min_height: 100,
        //    plugins: "code",
        //    toolbar: "code"
        //});
        tinymce.init({
  selector: '#Product_FullDescription',
  plugins: 'print preview fullpage paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount imagetools textpattern noneditable help charmap quickbars emoticons',
  imagetools_cors_hosts: ['picsum.photos'],
  menubar: 'file edit view insert format tools table help',
  toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
  toolbar_sticky: true,
  autosave_ask_before_unload: true,
  autosave_interval: "30s",
  autosave_prefix: "{path}{query}-{id}-",
  autosave_restore_when_empty: false,
  autosave_retention: "2m",
  image_advtab: true,
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tiny.cloud/css/codepen.min.css'
  ],
  link_list: [
    { title: 'My page 1', value: 'http://www.tinymce.com' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_list: [
    { title: 'My page 1', value: 'http://www.tinymce.com' },
    { title: 'My page 2', value: 'http://www.moxiecode.com' }
  ],
  image_class_list: [
    { title: 'None', value: '' },
    { title: 'Some class', value: 'class-name' }
  ],
  importcss_append: true,
  height: 400,
  file_picker_callback: function (callback, value, meta) {
    /* Provide file and text for the link dialog */
    if (meta.filetype === 'file') {
      callback('https://www.google.com/logos/google.jpg', { text: 'My text' });
    }

    /* Provide image and alt text for the image dialog */
    if (meta.filetype === 'image') {
      callback('https://www.google.com/logos/google.jpg', { alt: 'My alt text' });
    }

    /* Provide alternative source and posted for the media dialog */
    if (meta.filetype === 'media') {
      callback('movie.mp4', { source2: 'alt.ogg', poster: 'https://www.google.com/logos/google.jpg' });
    }
  },
  templates: [
        { title: 'New Table', description: 'creates a new table', content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>' },
    { title: 'Starting my story', description: 'A cure for writers block', content: 'Once upon a time...' },
    { title: 'New list with dates', description: 'New List with dates', content: '<div class="mceTmpl"><span class="cdate">cdate</span><br /><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>' }
  ],
  template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
  template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
  height: 600,
  image_caption: true,
  quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
  noneditable_noneditable_class: "mceNonEditable",
  toolbar_drawer: 'sliding',
  contextmenu: "link image imagetools table",
 });
    </script>
<script>



    $(document).ready(() => {
        var categoryId = "@Model.Product.CategoryId";
        var brandId = "@Model.Product.BrandId";
        $('#Product_CategoryId').kendoDropDownList({
            optionLabel: '-Chọn danh mục-',
            dataTextField: "categoryName",
            dataValueField: "id",
            dataSource: {
                type: 'json',
                serverFiltering: true,
                transport: {
                    read: {
                        url: window.location.protocol + '//' + window.location.host + "/MainService/GetCategory"
                    },
                    requestEnd: function (e) {
                        var response = e.response;
                        var type = e.type;

                        if (response.length === 0) {

                        }
                    },
                }
            },
            index: 0,
            value: categoryId
        });

        $('#Product_BrandId').kendoDropDownList({
            optionLabel: '-Chọn thương hiệu-',
            dataTextField: "brandName",
            dataValueField: "id",
            dataSource: {
                type: 'json',
                serverFiltering: true,
                transport: {
                    read: {
                        url: window.location.protocol + '//' + window.location.host + "/Brand/GetBrand"
                    },
                    requestEnd: function (e) {
                        var response = e.response;
                        var type = e.type;
                        //console.log(type); // displays "read"
                        if (response.length === 0) {
                            //console.log(response); // displays "read"
                        }
                    },
                }
            },
            index: 0,
            value: brandId
        });
    });
    function removeImg(id) {
        //var imgId = $('#imageId').val();
        debugger;
        if (confirm('Bạn có muốn xóa hình ảnh này??')) {
            $.ajax({
                url: "/Product/DeleteImage",
                type: "post",
                data: {
                    _imgId: id
                },
                dataType: "json",              
                success: function (result) {
                    if (result.code == 1) {
                        $('#' + result.id).remove();
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        
    };
    $('#saveEditImages').click(function () {
        debugger;
        $('#imgForm').submit();
      
    });
</script>
}



