@using ComputerAccessories.Extensions
@model List<ComputerAccessories.ViewModels.AttributeViewModel>
@{
    ViewData["Title"] = "Attributes";
    Layout = "~/Views/Admin/_Layout.cshtml";
    IEnumerable<Category> categories = new List<Category>();
    categories = ViewBag.lstCategory;
}

<br />
<div class="page-header">
    <div class="row">

        <div class="col-lg-10">
            <i class="fab fa-git-alt"></i>
            <h3>Thuộc tính sản phẩm</h3>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-default" asp-area="Admin" asp-controller="MainService" asp-action="CreateNewAttribute"><span><i class="fa fa-plus"></i></span> Thêm sản danh mục</a>
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
<section class="content">

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Lọc</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Danh mục</label>
                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true" asp-items="@categories.ToSelectListItem("CategoryName",categories.FirstOrDefault().Id)" id="CategoryId"></select>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" @*asp-for="CreatedDate"*@ class="form-control pull-right" id="datepicker1">
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Đến ngày</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" @*asp-for="CreatedDate"*@ class="form-control pull-right" id="datepicker2">
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-4">
                        <a class="btn btn-success" onclick="Filter()" >Lọc</a>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>

    
   
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead style="color:darkcyan">
                            <tr>
                                <th>Mã</th>
                                <th>Tên thuộc tính</th>
                                <th>Danh mục</th>
                                <th>Ngày tạo </th>
                                <th>Ngày chỉnh sửa</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.Id</th>
                                    <th>@item.AttributeName</th>
                                    @if (item.CategoryName == null)
                                    {
                                        <th>Trống</th>
                                    }
                                    else
                                    {
                                        <th>@item.CategoryName</th>

                                    }
                                    <th>@item.CreatedDate</th>
                                    @if (item.ModifiedDate == null)
                                    {
                                        <th></th>
                                    }
                                    else
                                    {
                                        <th>@item.ModifiedDate</th>
                                    }
                                    <th style="text-align:center;">
                                        <partial name="~/Views/Shared/_TableButtonPartial.cshtml" model="item.Id" />
                                    </th>

                                </tr>
                            }
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
</section>


@section Scripts{
    
    <script>
        $('#datepicker1').datepicker();
        $('#datepicker2').datepicker();        
        var selectedVal = "";


            $("#CategoryId").change(function () {
                debugger;
                // var selectedVal = $("#myselect option:selected").text();
                selectedVal = $("#CategoryId option:selected").val();
            });
            function Filter() {
                var categoryId = selectedVal;
                var fromTime = $('#datepicker1').val();
                var toTime = $('#datepicker2').val();
                //debugger;
                //var data = {
                //    categoryId: selectedVal,
                //    fromTime: $('#datepicker1').val(),
                //    toTime: $('#datepicker2').val()
                //}
                //$.ajax({
                //    url: "/Admin/MainService/Attributes",
                //    type: "get",
                //    data: data,
                //    dataType: "json",
                //    success: function (re) {

                //    },
                //    error: function (e) {
                //        console.log(e);
                //    }
                //});
                var url =""
                if (categoryId == "") {
                    if (fromTime == "" || toTime == "") {
                        alert("Vui lòng chọn mốc thơi gian");
                        return;
                    } else {
                        url = "/Admin/MainService/Attributes?categoryId=" + categoryId + "&fromTime=" + fromTime + "&toTime=" + toTime + "";

                    }
                } else {
                    url = "/Admin/MainService/Attributes?categoryId=" + categoryId + "&fromTime=" + fromTime + "&toTime=" + toTime + "";
                }
                window.location = url;
            }
    </script>
}

